{% extends 'transacoes/base.html' %}

{% block title %}..: Tipo Contas :..{% endblock %}

{% block content %}

    <br>
    <h1 align="center">TIPOS DE CONTAS</h1>

    <br>
    <a class="btn btn-primary" href="{% url 'tipo_conta_new' %}">NOVO TIPO CONTA</a>
    <br><br>

    {% if status_tp_contas == 200 %}
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Tipo de Conta</th>
                </tr>
            </thead>

            <tbody>
                {% for tp_conta in tp_contas %}
                    <tr>
                        <td>{{ tp_conta.tipoconta }}</td>
                        <td>
                            <a class="btn btn-danger" href="{% url 'deletar_tp_conta' tp_conta.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    {% endif %}

{% endblock %}